.cardBody{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1px;
    padding-top: 1rem;
}

.imageHolder img{
    background-color: #fff;
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0px;
}

.adImageHolder img{
    width: 100%;
    display: block;
    margin: 0px;
    margin-bottom: 10px;
}

.cardText{
    background-color: #fff;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cardText h2{
    font-size: 1.88365rem;
    margin-top: 0px;
    padding-top: 15px;
    padding-left: 5px;
    margin-bottom: 0px;
    font-weight: 900;
}

.cardText h2:hover{
    cursor: pointer;
    color:rgb(61, 138, 238);;
}

.cardText p{
    font-size: 18px;
    font-weight: 600;
    padding-left: 5px;
    padding-bottom: 20px;
}